#footer
  background: var(--body-background-color)
  padding: 2rem 0
  border-top: 1px solid color-border
  color: var(--text-light-color)
  a
    color: color-link
    text-decoration: underline
    &:hover
      color: var(--text-color)
    &:visited
      color: var(--text-light-color)

#footer-info
  Dns-14N-7() 